body {
    /* the border is o */
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #dbeafe;
        margin: 0;
}

header {
    background: linear-gradient(135deg, #1e3a8a 0%, #3b82f6 100%);
    color: #ffffff;
    /* space inside an box — between its content and border. */
    padding: 25px 25px;
    /* aline the items in a row */
    display: flex;
    /* evenly space btw items like first t left and last at right */
    justify-content: space-between;
    /* aline items vertically center */
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #ffffff;
    /* space outside the box */
    margin: 0 20px;
    /* removes underline */
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #d1fae5; 
    text-decoration: underline;
}

.main {
    background-color: ##e0e7ff; 
    color: ##1e3a8a; 
    padding: 80px 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: ##f97316; 
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: ##ea580c; 
    transform: scale(1.05);
}

footer {
    background-color: ##1e3a8a;
    color: #e0f2f1;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}
