body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: linear-gradient(135deg, #f9f9f9, #e3f2fd);
}

h1 {
  color: white;
  text-align: center;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #42a5f5;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f1f8e9;
}

tr:nth-child(odd) {
  background-color: #fffde7;
}
header {
    background: linear-gradient(90deg, #0f766e, #0ea5e9); 
    color: #ffffff;
    /* space inside an box — between its content and border. */
    padding: 25px 25px;
    /* aline the items in a row */
    display: flex;
    /* evenly space btw items like first t left and last at right */
    justify-content: space-between;
    /* aline items vertically center */
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    nav a {
    color: #ffffff;
    /* space outside the box */
    margin: 0 20px;
    /* removes underline */
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #d1fae5; 
    text-decoration: underline;
}
}
footer {
    background-color: #0f766e;
    color: #e0f2f1;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}
.btn:hover {
    background-color: #115e59; 
    transform: scale(1.05);
}
.btn {
    display: inline-block;
    background-color: #0d9488; 
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
    transition: all 0.3s ease;
}
body {
    /* the border is o */
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0fdfa; 
    margin: 0;
}