body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    h1 {
      font-size: 32px;
      color: #222;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: #555;
      margin-bottom: 30px;
    }

    .btn {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      margin: 5px;
      border-radius: 5px;
      font-size: 16px;
       text-decoration: none;
      /* cursor: pointer;
      transition: 0.3s; */
    }

    .btn:hover {
      background-color: #0056b3;
    }

    .button-container {
      display: flex;
      gap: 15px;
    }